.items {
    /* background-color: aquamarine; */
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    height: fit-content;
}

.items .categories {
    background-color: white;
    width: calc(20% - 10px);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
}
